<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app>
    <!-- <div ng-controller="BasicCtrl">
      <input type="text" ng-model="name">
      <div ng-bind="name"></div>
      <div>Hello, {{ name }}</div>
      <div ng-bind="myModel"></div>
    </div> -->
    <md-content>
      <md-button class="md-raised md-primary" type="button" ng-click="loadBtn()" ng-controller="LoadButtonCtrl" ng-bind="buttonText" ng-disabled="buttonDisabled" aria-label="button"></md-button>

      <div ng-controller="TabCtrl" class="tabsdemoStaticTabs">
        <md-tabs md-selected="data.selectedIndex">
          <md-tab id="tab1">
            Content 1
          </md-tab>
          <md-tab id="tab2">
            Content 2
          </md-tab>
          <md-tab id="tab3">
            Content 3
          </md-tab>
        </md-tabs>
        <ng-switch on="data.selectedIndex" class="tabpanel-container">
          <div
             id="tab1-content"

             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            Purple content<br/>
            is my favorite color
          </div>
          <div
            id="tab2-content"
            ng-switch-when="1"
            md-swipe-left="next()"
            ng-swipe-right="previous()">
            Violet color content<br>
            is my second favorite color
          </div>
          <div
            id="tab3-content"
            ng-switch-when="2"
            md-swipe-left="next()"
            ng-swipe-right="previous()">
            Mint is my favorite color really<br>
            but after violet
          </div>
        </ng-switch>

      </div>

    <md-button class="md-primary like-button" ng-click="count = count + 1" ng-init="count = 0">{{ count }} Likes
    </md-button>
    <form name="userForm">
      <div class="input-group" layout="row">
        <md-input-container class="user-container1">
          <label>Email</label>
          <input name="email" type="email" ng-model="user.name">
          <div ng-messages="userForm.name.$error">
            <div ng-message="email">Please enter an email address</div>
          </div>
        </md-input-container>
        <md-input-container class="user-container2">
          <label>Password</label>
          <input id="password" type="password"required name="password" ng-model="user.password">
          <div ng-messages="userForm.email.$error">
            <div ng-message="password">Please enter a password</div>
          </div>
        </md-input-container>
      </div>
    </form>
      </md-content>
      <!-- <div ng-controller="AppCtrl"> -->
        <!-- <input type="text" ng-model="name">
        <div ng-bind="name"></div>
        <button ng-click="showContent()">Toggle Content</button>
        <p ng-hide="isContentVisible">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
      <!-- </div> -->

     <!-- Angular Material Dependencies -->
     <script src="https://cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.7 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.js"></script>

    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers.js"></script>

  </body>
</html>
